<!-- search and display data -->
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marvel Characters</title>
</head>
<body>
    <h1>Search for marvel characters</h1>
    <form method="GET">
        <input type="text" name="name" placeholder="Search...">
        <button type="submit">SEARCH CHARACTER</button>
    </form>
</body>
</html>
{% endblock %}
